{% extends 'base.html' %}
{% load static %}



{% block content %}


<style>
    .custom-footer {
        margin-top: 5rem;
        margin-bottom: 9rem;
    }
    
</style>


<div class="container mt-5 mb-5">
    <div class="row  justify-content-center">
        <div class="col-md-8">
            <div class="about-box border p-4 ">
        <h3>About Us</h3>
        <p>Welcome to Trendify.com, your ultimate destination for staying stylish and trendy.</p>
    <p>At Trendify, we're committed to bringing you the latest fashion trends and curated collections.</p>
    <p>Our goal is to inspire confidence and empower individuals to express their unique personalities through fashion.</p>
    <p>With a wide range of clothing, footwear, and accessories, we cater to every style and occasion.</p>
     <p>Join us in our mission to redefine fashion and embrace individuality.</p>
    <p>Stay updated with our latest arrivals, exclusive offers, and fashion tips by subscribing to our newsletter.</p>
    
    <p>Thank you for choosing Trendify. Let's embark on this stylish journey together!</p>
   
    
    <p>Discover timeless classics and trendy statement pieces that reflect your personal style.</p>
    
    
    <p>Connect with fellow fashion enthusiasts in our vibrant online community.</p>
    <p>At Trendify, fashion knows no bounds. Express yourself boldly and fearlessly.</p>
    <p>Transform your wardrobe with our curated selection of must-have pieces for every season.</p>
    <p>Discover the joy of self-expression through fashion and embrace your unique identity.</p>
    <p>Shop with confidence knowing that your satisfaction is our top priority.</p>
    <p>Experience the excitement of discovering new styles and trends with every visit to Trendify.com.</p>
    
    
    <p>Thank you for choosing us as your fashion destination. Let's make every outfit unforgettable!</p>
</div>
</div>

</div>
</div>



{% endblock %}