{% extends 'base.html' %}
{% load static %}



{% block content %}


<style>
    .custom-footer {
        margin-top: 5rem;
        margin-bottom: 9rem;
    }
</style>


<div class="container mt-5 mb-5">
    <div class="row  justify-content-center">
        <div class="col-md-8">
            <div class="about-box border p-4 ">
                <h3>Terms and Conditions</h3>
                <p>These Terms and Conditions ("Terms", "Agreement") govern your use of the Trendify.com website ("Website") operated by Trendify.com ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Website at Trendify.com.</p>
                
                <h3>Intellectual Property</h3>
                <p>The Website and its original content, features, and functionality are owned by Trendify.com and are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.</p>
                
                <h3>Links To Other Sites</h3>
                <p>Our Website may contain links to third-party websites or services that are not owned or controlled by Trendify.com. Trendify.com has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party websites or services. You further acknowledge and agree that Trendify.com shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such websites or services.</p>
                
                <h3>Termination</h3>
                <p>We may terminate or suspend your access to our Website immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms. Upon termination, your right to use the Website will immediately cease.</p>
            
                <h3>Governing Law</h3>
                <p>This Agreement (and any further rules, policies, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of [Your Country], without giving effect to any principles of conflicts of law.</p>
            
                <h3>Changes To This Agreement</h3>
                <p>We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by posting the updated terms on the Website. Your continued use of the Website after any such changes constitutes your acceptance of the new Terms and Conditions.</p>
            
                <h3>Contact Us</h3>
                <p>If you have any questions about these Terms and Conditions, please contact us at <a href="mailto:your@email.com">your@email.com</a>.</p>
            
            </div>

</div>

</div>
</div>



{% endblock %}